@import '../../../styles/settings.scss';

.component {
  margin-bottom: ($base-size * 3);
}

.title {
  margin-bottom: ($base-size * 2);
}

.input, .dropdown {
  width: 80%;
  border: 1px solid lighten($color-dark, 60%);
  padding: ($base-size / 2);
  &Small {
    width: 30%;
  }
}

.icon {
  cursor: pointer;
  width: 80%;
  padding: ($base-size / 2);

  &:hover{
    background:  lighten($color: $color-primary, $amount: 10);
  }

  i {
    padding-right: ($base-size / 2);
  }

  &Active {
    background: $color-primary;
  }
}

.checkboxes {
  display: flex;
  flex-direction: column;
  width: 80%;
  &Small {
    width: 30%;
  }

  label{
    padding: ($base-size / 2);

    &:hover{
      background:  lighten($color: $color-primary, $amount: 10);
    }

    input[type=checkbox]{
      margin-right: $base-size;
    }
  }
  

}

// .number{
// }

.imputSmall{
  color: $color-dark;
  font-weight: bold;
  text-align: center;
}